<mat-tab-group
    [selectedIndex]="selectedTab"
    (selectedTabChange)="tabChanged($event)"
>
    <mat-tab>
        <ng-template
            mat-tab-label
            id="tab-label-1"
        >
            <mat-icon class="example-tab-icon">home</mat-icon>
            Zlecenia do wzięcia
        </ng-template>
        <div class="tab-container">
            <first-tab></first-tab>
        </div>
    </mat-tab>


    <!-- ============================================================================ -->


    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">flight</mat-icon>
            Twoje zlecenia
        </ng-template>
        <div class="tab-container">
            <second-tab></second-tab>
        </div>
    </mat-tab>


    <!-- ============================================================================ -->


    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">note_add</mat-icon>
            Dodaj zlecenie
        </ng-template>
        <div class="tab-container">
            <order-selector></order-selector>
        </div>
    </mat-tab>
</mat-tab-group>
