<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-custom">

    <div id="logobox">
        <a class="navbar-label navbar-brand" routerLink="/" id="logo">
            <img
                id="leaflogo"
                src="../../../assets/images/logo.png" />
        </a>
    </div>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-li" id="navbarSupportedContent">
        <ul *ngIf="currentUser" class="navbar-nav mr-auto">
            <li
                class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/">
                    Strona główna
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item"
                *ngIf="!currentUser">
                <a class="nav-link" (click)="fakeData()">
                    Wypełnij DB
                </a>
            </li>

            <li
                class="nav-item"
                *ngIf="currentUser"
                routerLinkActive
                #rla="routerLinkActive">
                <a class="nav-link" (click)="addOrder()" routerLink="/">
                    Dodaj zlecenie
                </a>
            </li>

            <li
                class="nav-item"
                *ngIf="currentUser"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/profile">
                    Profil
                </a>
            </li>

            <li
                *ngIf="!currentUser"
                class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/login">
                    Logowanie
                </a>
            </li>
            <li
                *ngIf="!currentUser"
                class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/register">
                    Rejestracja
                </a>
            </li>
            <li
                *ngIf="currentUser"
                class="nav-item"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" (click)="logout()" routerLink="/login">
                    Wyloguj
                </a>
            </li>
        </ul>
    </div>
</nav>
