<div class="h-100 justify-content-center align-items-center">
    <div class="card card-outline-secondary">
        <div class="card-body">
            <h3 class="text-center">Utwórz model zastępstwa</h3>
            <hr>
            <div class="alert alert-info p-2 pb-3">
                <a class="close font-weight-normal initialism"
                    data-dismiss="alert" href="#"><samp>&times;</samp></a>
                Dodaj taski do wykonania pod twoją nieobecność.
            </div>
            <form class="form" [formGroup]="orderForm" autocomplete="off"
                (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="orderName">Nazwa zastępstwa</label>
                    <input type="text" class="form-control"
                        formControlName="orderName" title="First and last name"
                        required="required">
                </div>

                <div class="form-group">
                    <div class="">
                        <label class="">Zakres nieobecności</label>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field>
                                <input matInput formControlName="dateStart"
                                    [matDatepicker]="dateFrom"
                                    placeholder="Nieobecność od..."
                                    class="mat-form-field-autofill-control
                                    mat-input-element ng-tns-c98-74
                                    cdk-text-field-autofill-monitored">
                                <mat-datepicker-toggle matSuffix
                                    [for]="dateFrom"></mat-datepicker-toggle>
                                <mat-datepicker #dateFrom class="ng-tns-c98-74"></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field>
                                <input matInput formControlName="dateUntil"
                                    [matDatepicker]="dateUntil"
                                    placeholder="Nieobecność do..."
                                    class="mat-form-field-autofill-control
                                    mat-input-element ng-tns-c98-74
                                    cdk-text-field-autofill-monitored">
                                <mat-datepicker-toggle matSuffix
                                    [for]="dateUntil"></mat-datepicker-toggle>
                                <mat-datepicker #dateUntil
                                    class="ng-tns-c98-74"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                         
                <div class="">
                    <label>Rodzaj nieobecności</label>
                    <div class="form-group">
                        <ng-container *ngFor="let type of orderTypes">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio"
                                        name="order_type"
                                        value="{{type}}" 
                                        formControlName="order_type">
                                    {{type}}
                                </label>
                            </div>
                            
                        </ng-container>
                     </div>
                </div>

                <hr>
                <div class="">
                    <label class="">Twoje taski</label>
                </div>

                <mat-accordion>
                    <ng-container *ngFor="let task of tasks">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{task.title}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{task.description}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <b>Data wykonania:</b>{{task.date}}<br>
                            {{task.type_task}}
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>

                <br>

                <div class="form-group row">
                    <div class="col-md-12">
                        <button type="button" (click)="addTask(modalTask)"
                            class="btn btn-outline-info btn-sm btn-block">Dodaj
                            task</button>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label>Komentarz / Opis zastępstwa</label>
                    <textarea class="form-control" formControlName="comment"
                        rows="5"></textarea>
                </div>

                <hr>
                <div class="form-group row">
                    <div class="col-md-6">
                        <button type="reset" (click)="cancelBtn()" class="btn
                            btn-outline-secondary btn-lg btn-block">Anuluj</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-outline-success
                            btn-lg btn-block">Dodaj</button>
                    </div>
                </div>
            </form>
            <jw-modal id="task-modal">
                <task-selector [task]="newVariable">
                </task-selector>
            </jw-modal>
        </div>
    </div>
</div>