
<mat-tab-group
    [selectedIndex]="selectedTab"
    (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Zlecenia wystawione przeze mnie">
        <div
            fxLayout="column"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="5%"
            fxLayoutAlign="space-between none">
            <mat-card
                [ngClass]="!order.done?'card-picture':'card-picture-done'"
                *ngFor="let order of ordersCreated, let i= index">
                <form class="form" [formGroup]="orderForm" autocomplete="on"
                    disabled="true">
                    <mat-card-title
                        fxLayout.gt-xs="row"
                        fxLayout.xs="column">

                        <span fxFlex="80%">{{order.order_name}}</span>

                        <button
                            mat-button
                            fxFlex="5%"
                            class="button-action"
                            type="submit"
                            (click)="saveOrder(order)"
                            *ngIf="order.edit && !order.done">
                            <mat-icon class="edit-icon">save</mat-icon>
                        </button>
                        <button
                            mat-button
                            fxFlex="5%"
                            class="button-action"
                            (click)="editOrder(order)"
                            *ngIf="!order.edit && !order.done">
                            <mat-icon class="edit-icon">mode_edit</mat-icon>
                        </button>
                        <button
                            mat-button
                            fxFlex="5%"
                            class="button-action"
                            (click)="deleteOrder(order)">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </button>
                    </mat-card-title>


                    <mat-accordion multi="true">
                        <mat-form-field style="margin-right:40px;">
                            <input matInput type="text"
                                placeholder="Nazwa zlecenia..."
                                class="mat-form-field-autofill
                                mat-input-element ng-tns-c98-74
                                cdk-text-field-autofill-monitored"
                                formControlName="order_name" title="First and
                                last name"
                                required="required" value="{{order.order_name}}"
                                disabled="{{!order.edit}}">
                        </mat-form-field>

                        <mat-form-field style="margin-right:40px;">
                            <input matInput formControlName="date_from"
                                [matDatepicker]="dateFrom"
                                placeholder="Nieobecność od..."
                                class="mat-form-field-autofill
                                mat-input-element ng-tns-c98-74
                                cdk-text-field-autofill-monitored"
                                value="{{order.date_start}}"
                                disabled="{{!order.edit}}">
                            <mat-datepicker-toggle matSuffix
                                [for]="dateFrom"></mat-datepicker-toggle>
                            <mat-datepicker #dateFrom class="ng-tns-c98-74"></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput formControlName="date_until"
                                [matDatepicker]="dateTo"
                                placeholder="Nieobecność do..."
                                class="mat-form-field-autofill
                                mat-input-element ng-tns-c98-74
                                cdk-text-field-autofill-monitored"
                                value="{{order.date_until}}"
                                disabled="{{!order.edit}}">
                            <mat-datepicker-toggle matSuffix
                                [for]="dateTo" disabled="{{!order.edit}}"></mat-datepicker-toggle>
                            <mat-datepicker #dateTo class="ng-tns-c98-74"
                                disabled="{{!order.edit}}"></mat-datepicker>
                        </mat-form-field>
                        <br>
                        <mat-radio-group matInput formControlName="order_type"
                            value="{{order.order_type}}"
                            disabled="{{!order.edit}}">
                            <mat-radio-button value="Wyjazd służbowy"
                                class="w-25 p-3" *ngIf="order.order_type ==
                                'Wyjazd służbowy'" checked> Wyjazd służbowy</mat-radio-button>
                            <mat-radio-button value="Wyjazd służbowy"
                                class="w-25 p-3" *ngIf="order.order_type !=
                                'Wyjazd służbowy'"> Wyjazd służbowy</mat-radio-button>
                            <mat-radio-button value="L4" class="w-25 p-3"
                                *ngIf="order.order_type == 'L4'" checked> L4</mat-radio-button>
                            <mat-radio-button value="L4" class="w-25 p-3"
                                *ngIf="order.order_type != 'L4'"> L4</mat-radio-button>                            
                            <mat-radio-button value="Wakacje" class="w-25 p-3"
                                *ngIf="order.order_type == 'Wakacje'" checked>Wakacje</mat-radio-button>
                            <mat-radio-button value="Wakacje" class="w-25 p-3"
                                *ngIf="order.order_type != 'Wakacje'">Wakacje</mat-radio-button>
                            <mat-radio-button value="Inne" class="w-25 p-3"
                                *ngIf="order.order_type == 'Inne'" checked>Inne</mat-radio-button>
                            <mat-radio-button value="Inne" class="w-25 p-3"
                                *ngIf="order.order_type != 'Inne'">Inne</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field>
                            <textarea placeholder="Komentarz" matInput
                                formControlName="description" rows="1"
                                class="mat-form-field-autofill
                                mat-input-element ng-tns-c98-74
                                cdk-text-field-autofill-monitored"
                                value='{{order.description}}'
                                disabled="{{!order.edit}}"> </textarea>
                            <mat-error *ngIf="submitted">
                                Uzupełnij opis
                            </mat-error>
                        </mat-form-field>
                    </mat-accordion>
                </form>

                <mat-card-actions class="card-actions">

                    <ng-container *ngFor="let task of order.tasks">
                        <mat-expansion-panel
                            [ngClass]="!order.done?'card-actions':'card-actions-done'">
                            <mat-expansion-panel-header
                                class="right-aligned-header"
                                collapsedHeight="55px">
                                <mat-panel-title>
                                    <mat-icon class="example-tab-icon">{{task.icon}}</mat-icon>
                                    {{task.title}}
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <form class="form" [formGroup]="taskForm"
                                autocomplete="on"
                                visible="false">
                                <button
                                    mat-button
                                    fxFlex="5%"
                                    class="button-action"
                                    type="submit"
                                    (click)="saveTask(task)"
                                    *ngIf="task.edit && !order.done">
                                    <mat-icon class="edit-icon">save</mat-icon>
                                </button>
                                <button
                                    mat-button
                                    fxFlex="5%"
                                    class="button-action"
                                    (click)="editTask(task)"
                                    *ngIf="!task.edit && !order.done">
                                    <mat-icon class="edit-icon">mode_edit</mat-icon>
                                </button>
                                <button
                                    mat-button
                                    fxFlex="5%"
                                    class="button-action"
                                    (click)="deleteTask(task,order)"
                                    *ngIf="!order.done">
                                    <mat-icon class="delete-icon">delete</mat-icon>
                                </button>
                                <p>
                                    <mat-form-field>
                                        <input matInput type="text"
                                            placeholder="Nazwa zadania..."
                                            class="mat-form-field-autofill
                                            mat-input-element ng-tns-c98-74
                                            cdk-text-field-autofill-monitored"
                                            formControlName="title"
                                            value="{{task.title}}"
                                            disabled="{{!task.edit}}">
                                    </mat-form-field>
                                    <br>

                                    <mat-radio-group matInput
                                        formControlName="type_task"
                                        placeholder="Rodzaj zadania:"
                                        value="{{order.order_type}}"
                                        disabled="{{!task.edit}}"
                                        class="md-block">
                                        <mat-radio-button value="Fauna"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task == 'Fauna'"
                                            checked>Fauna</mat-radio-button>
                                        <mat-radio-button value="Fauna"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task != 'Fauna'">Fauna</mat-radio-button>
                                        <mat-radio-button value="Flora"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task == 'Flora'"
                                            checked>Flora</mat-radio-button>
                                        <mat-radio-button value="Flora"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task != 'Flora'">Flora</mat-radio-button>
                                        <mat-radio-button value="Sprzatanie"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task ==
                                            'Sprzątanie'" checked>Sprzatanie</mat-radio-button>
                                        <mat-radio-button value="Sprzatanie"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task !=
                                            'Sprzątanie'">Sprzatanie</mat-radio-button>
                                        <mat-radio-button value="Zakupy"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task == 'Zakupy'"
                                            checked>Zakupy</mat-radio-button>
                                        <mat-radio-button value="Zakupy"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task != 'Zakupy'">Zakupy</mat-radio-button>
                                        <mat-radio-button value="Inne"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task == 'Inne'"
                                            checked>Inne</mat-radio-button>
                                        <mat-radio-button value="Inne"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task != 'Inne'">Inne</mat-radio-button>
                                    </mat-radio-group>
                                    <br>

                                    <mat-form-field>
                                        <input matInput formControlName="date"
                                            [matDatepicker]="date"
                                            placeholder="Data wykonania"
                                            class="mat-form-field-autofill
                                            mat-input-element ng-tns-c98-74
                                            cdk-text-field-autofill-monitored"
                                            value="{{task.date}}"
                                            disabled="{{!task.edit}}">
                                        <mat-datepicker-toggle matSuffix
                                            [for]="date"
                                            disabled="{{!task.edit}}"></mat-datepicker-toggle>
                                        <mat-datepicker #date
                                            class="ng-tns-c98-74"
                                            disabled="{{!task.edit}}"></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field style="margin-left:20px;">
                                        <textarea placeholder="Opis zadania"
                                            matInput
                                            formControlName="description"
                                            rows="1"
                                            class="mat-form-field-autofill
                                            mat-input-element
                                            cdk-text-field-autofill-monitored"
                                            value='{{task.description}}'
                                            disabled="{{!task.edit}}">
                                        </textarea>
                                        <mat-error *ngIf="submitted">
                                            Uzupełnij opis
                                        </mat-error>

                                    </mat-form-field>
                                </p>
                                <br>

                            </form>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-card-actions>


            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Zlecenia do wykonania">
        <div
            fxLayout="column"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="5%"
            fxLayoutAlign="space-between none">
            <mat-card
                [ngClass]="!order.done?'card-picture':'card-picture-done'"
                *ngFor="let order of ordersToDo">
                <mat-card-title
                    fxLayout.gt-xs="row"
                    fxLayout.xs="column">
                    <span fxFlex="80%">{{order.order_name}}</span>
                </mat-card-title>


                <mat-accordion multi="true">
                    <mat-form-field style="margin-right:40px;">
                        <input matInput type="text"
                            placeholder="Nazwa zlecenia..."
                            class="mat-form-field-autofill
                            mat-input-element ng-tns-c98-74
                            cdk-text-field-autofill-monitored"
                            title="First and last name"
                            required="required" value="{{order.order_name}}"
                            disabled="{{!order.edit}}">
                    </mat-form-field>

                    <mat-form-field style="margin-right:40px;">
                        <input matInput
                            [matDatepicker]="dateFrom"
                            placeholder="Nieobecność od..."
                            class="mat-form-field-autofill
                            mat-input-element ng-tns-c98-74
                            cdk-text-field-autofill-monitored"
                            value="{{order.date_start}}"
                            disabled="{{!order.edit}}">
                        <mat-datepicker-toggle matSuffix
                            [for]="dateFrom"></mat-datepicker-toggle>
                        <mat-datepicker #dateFrom class="ng-tns-c98-74"></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                            [matDatepicker]="dateTo"
                            placeholder="Nieobecność do..."
                            class="mat-form-field-autofill
                            mat-input-element ng-tns-c98-74
                            cdk-text-field-autofill-monitored"
                            value="{{order.date_until}}"
                            disabled="{{!order.edit}}">
                        <mat-datepicker-toggle matSuffix
                            [for]="dateTo" disabled="{{!order.edit}}"></mat-datepicker-toggle>
                        <mat-datepicker #dateTo class="ng-tns-c98-74"
                            disabled="{{!order.edit}}"></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-radio-group matInput value="{{order.order_type}}"
                        disabled="{{!order.edit}}">
                        <mat-radio-button value="Wyjazd służbowy" class="w-25
                            p-3" *ngIf="order.order_type == 'Wyjazd służbowy'"
                            checked> Wyjazd służbowy</mat-radio-button>
                        <mat-radio-button value="Wyjazd służbowy" class="w-25
                            p-3" *ngIf="order.order_type != 'Wyjazd służbowy'">
                            Wyjazd służbowy</mat-radio-button>
                        <mat-radio-button value="L4" class="w-25 p-3"
                            *ngIf="order.order_type == 'L4'" checked> L4</mat-radio-button>
                        <mat-radio-button value="L4" class="w-25 p-3"
                            *ngIf="order.order_type != 'L4'"> L4</mat-radio-button>                       
                        <mat-radio-button value="Wakacje" class="w-25 p-3"
                            *ngIf="order.order_type == 'Wakacje'" checked>Wakacje</mat-radio-button>
                        <mat-radio-button value="Wakacje" class="w-25 p-3"
                            *ngIf="order.order_type != 'Wakacje'">Wakacje</mat-radio-button>
                        <mat-radio-button value="Inne" class="w-25 p-3"
                            *ngIf="order.order_type == 'Inne'" checked>Inne</mat-radio-button>
                        <mat-radio-button value="Inne" class="w-25 p-3"
                            *ngIf="order.order_type != 'Inne'">Inne</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field>
                        <textarea placeholder="Komentarz" matInput rows="1"
                            class="mat-form-field-autofill
                            mat-input-element ng-tns-c98-74
                            cdk-text-field-autofill-monitored"
                            value='{{order.description}}'
                            disabled="{{!order.edit}}"> </textarea>
                        <mat-error *ngIf="submitted">
                            Uzupełnij opis
                        </mat-error>
                    </mat-form-field>

                    <mat-card-actions class="card-actions">

                        <ng-container *ngFor="let task of order.tasks">
                            <mat-expansion-panel
                                [ngClass]="!order.done?'card-actions':'card-actions-done'">
                                <mat-expansion-panel-header
                                    class="right-aligned-header"
                                    collapsedHeight="55px">
                                    <mat-panel-title>
                                        <mat-icon class="example-tab-icon">{{task.icon}}</mat-icon>
                                        {{task.title}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <p>
                                    <mat-form-field
                                        class="mat-form-field-infix">
                                        <input matInput type="text"
                                            placeholder="Nazwa zadania..."
                                            class="mat-form-field-autofill
                                            mat-input-element ng-tns-c98-74
                                            cdk-text-field-autofill-monitored"
                                            value="{{task.title}}"
                                            disabled="true">
                                    </mat-form-field>
                                    <br>

                                    <mat-radio-group matInput
                                        placeholder="Rodzaj zadania:"
                                        value="{{order.order_type}}"
                                        disabled="{{!task.edit}}"
                                        class="md-block">
                                        <mat-radio-button value="Fauna"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task == 'Fauna'"
                                            checked>Fauna</mat-radio-button>
                                        <mat-radio-button value="Fauna"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task != 'Fauna'">Fauna</mat-radio-button>
                                        <mat-radio-button value="Flora"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task == 'Flora'"
                                            checked>Flora</mat-radio-button>
                                        <mat-radio-button value="Flora"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task != 'Flora'">Flora</mat-radio-button>
                                        <mat-radio-button value="Sprzatanie"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task ==
                                            'Sprzątanie'" checked>Sprzatanie</mat-radio-button>
                                        <mat-radio-button value="Sprzatanie"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task !=
                                            'Sprzątanie'">Sprzatanie</mat-radio-button>
                                        <mat-radio-button value="Zakupy"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task == 'Zakupy'"
                                            checked>Zakupy</mat-radio-button>
                                        <mat-radio-button value="Zakupy"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task != 'Zakupy'">Zakupy</mat-radio-button>
                                        <mat-radio-button value="Inne"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task == 'Inne'"
                                            checked>Inne</mat-radio-button>
                                        <mat-radio-button value="Inne"
                                            class="w-20 p-2"
                                            *ngIf="task.type_task != 'Inne'">Inne</mat-radio-button>
                                    </mat-radio-group>
                                    <br>

                                    <mat-form-field>
                                        <input matInput
                                            [matDatepicker]="date"
                                            placeholder="Data wykonania"
                                            class="mat-form-field-autofill
                                            mat-input-element ng-tns-c98-74
                                            cdk-text-field-autofill-monitored"
                                            value="{{task.date}}"
                                            disabled="{{!task.edit}}">
                                        <mat-datepicker-toggle matSuffix
                                            [for]="date"
                                            disabled="{{!task.edit}}"></mat-datepicker-toggle>
                                        <mat-datepicker #date
                                            class="ng-tns-c98-74"
                                            disabled="{{!task.edit}}"></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field style="margin-left:20px;">
                                        <textarea placeholder="Opis zadania"
                                            matInput rows="1"
                                            class="mat-form-field-autofill
                                            mat-input-element
                                            cdk-text-field-autofill-monitored"
                                            value='{{task.description}}'
                                            disabled="{{!task.edit}}">
                                        </textarea>
                                        <mat-error *ngIf="submitted">
                                            Uzupełnij opis
                                        </mat-error>

                                    </mat-form-field>
                                </p>
                                <br>

                            </mat-expansion-panel>
                        </ng-container>
                    </mat-card-actions>


                </mat-accordion>


                <mat-card-actions *ngIf="!order.done" class="card-actions">
                    <button
                        mat-button
                        class="button-action"
                        (click)="doneReservation(order)">
                        <mat-icon class="green-icon">check</mat-icon>
                        Zrobione
                    </button>
                    <button
                        mat-button
                        class="button-action"
                        (click)="cancelOfReservation(order)">
                        <mat-icon class="red-icon">close</mat-icon>
                        Anuluj rezerwację
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
