<div class="col-md-6 col-md-push-3 profile-form">
    <div class="card card-outline-secondary">
        <div class="card-body card-padding">
            <form [formGroup]="userForm" (ngSubmit)="update()">
                <table mat-table class="mat-elevation-z8 profile-table">
                    <tr mat-row>
                        <td mat-cell>Username:</td>
                        <td mat-cell>
                            <mat-form-field class="expansion-panel-field">
                                <input
                                    matInput
                                    placeholder
                                    value="{{user.username}}"
                                    formControlName="username">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr mat-row>
                        <td mat-cell>E-mail:</td>
                        <td mat-cell>
                            <mat-form-field class="expansion-panel-field">
                                <input
                                    matInput
                                    placeholder
                                    value="{{user.email}}"
                                    formControlName="email">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr mat-row>
                        <td mat-cell>First name:</td>
                        <td mat-cell>
                            <mat-form-field class="expansion-panel-field">
                                <input
                                    matInput
                                    placeholder
                                    value="{{user.first_name}}"
                                    formControlName="first_name">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr mat-row>
                        <td mat-cell>Last name:</td>
                        <td mat-cell>
                            <mat-form-field class="expansion-panel-field">
                                <input
                                    matInput
                                    placeholder
                                    value="{{user.last_name}}"
                                    formControlName="last_name">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr mat-row>
                        <td mat-cell>Phone number:</td>
                        <td mat-cell>
                            <mat-form-field class="expansion-panel-field">
                                <input
                                    matInput
                                    placeholder
                                    value="{{user.phoneNumber}}"
                                    formControlName="phoneNumber">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr mat-row>
                        <td mat-cell>Address street:</td>
                        <td mat-cell>
                            <mat-form-field class="expansion-panel-field">
                                <input
                                    matInput
                                    placeholder
                                    value="{{user.addressStreet}}"
                                    formControlName="addressStreet">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr mat-row>
                        <td mat-cell>Address city:</td>
                        <td mat-cell>
                            <mat-form-field class="expansion-panel-field">
                                <input
                                    matInput
                                    placeholder
                                    value="{{user.addressCity}}"
                                    formControlName="addressCity">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

                <br>

                <div *ngIf="editMode">
                    <button
                        mat-raised-button
                        type="submit"
                        class="addOrderAtHome">
                        Zapisz
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
