<div *ngIf="error" class="alert alert-danger ">{{error}}</div>
<div class="panel panel-primary">
    <h2 class="text-center"> Dodaj zadanie </h2>
    <br>
    <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <mat-form-field appearance="outline" class="mat-form-field-add-task" >
                <mat-label>Nazwa zadania</mat-label>
                <input matInput placeholder="Nazwa zadania" type="text" formControlName="title"/>            
                <mat-error *ngIf="f.title.invalid && submitted ">
                    Nazwa jest wymagana
                </mat-error>
            </mat-form-field>
        </div> 
        
        <div class="form-group">      
            <mat-form-field  >
                <mat-label>Rodzaj zadania</mat-label>
                 <mat-select formControlName="type_task">
                    <mat-option *ngFor="let task of task_types" [value]="task">
                        {{task}}
                    </mat-option>             
                </mat-select>                   
            </mat-form-field>  
            <mat-error *ngIf="f.type_task.invalid && submitted">
            </mat-error>      
        </div>
    
        <div class="form-group">
            <mat-form-field class="mat-form-field-add-task">
            <input matInput formControlName="date" [matDatepicker]="date" [min]="currentDate" placeholder="Data wykonania zadania" class="mat-form-field-autofill-control mat-input-element ng-tns-c98-74 cdk-text-field-autofill-monitored">
                <mat-datepicker-toggle matSuffix [for]="date" ></mat-datepicker-toggle>
                <mat-datepicker #date  class="ng-tns-c98-74"></mat-datepicker> 
            </mat-form-field>
        </div>
        <div class="form-group" > 
            <mat-form-field appearance="outline" class="mat-form-field-add-task" >
                <mat-label>Opis</mat-label>
                <textarea placeholder="Opis" matInput class="mat-form-field-autofill-control mat-input-element" formControlName="description" rows="5"></textarea>
                <mat-error *ngIf="submitted">
                        Uzupełnij opis
                </mat-error>    
            </mat-form-field>
        </div>  
        <div class="form-group text-center" class="mat-form-field-add-task">
            <button class="btn btn-outline-success btn-lg btn-block">
                Dodaj zadanie
            </button>
        </div>
    </form>
  </div>