<div class="col-md-6 col-md-push-3 login-form">
  <div class="card card-outline-secondary">
    <div class="card-body card-padding">
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      <div class="panel panel-primary">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field class="input-form">
              <input matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="f.username.hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="input-form">
              <input matInput type="password" placeholder="Password"
                formControlName="password">
              <mat-error *ngIf="f.password.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="input-form">
              <input matInput type="password" placeholder="Confirm password"
                formControlName="confirmPassword">
              <mat-error *ngIf="f.confirmPassword.hasError('required')">
                Confirm password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="f.confirmPassword.hasError('mustMatch')">
                Passwords must match
              </mat-error>
            </mat-form-field>
          </div>
          <br>
          <hr>
          <div class="form-group">
            <mat-form-field class="input-form">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="f.email.hasError('email')">
                Email address is invalid
              </mat-error>
              <mat-error *ngIf="f.email.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="input-form">
              <input matInput placeholder="Phone Number"
                formControlName="phoneNumber">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="input-form">
              <input matInput placeholder="Street, house number"
                formControlName="addressStreet">
              <mat-error *ngIf="f.addressStreet.hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="input-form">
              <input matInput placeholder="City, postcode"
                formControlName="addressCity">
              <mat-error *ngIf="f.addressStreet.hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm
                mr-1"></span>
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>