
<app-header></app-header>

  <div class="container">
    <div class="jumbotron">
        <div class="container innerContent">
          <!-- <div [@routeAnimations]="getRouterOutletState(o)"> -->
            <router-outlet #o="outlet"></router-outlet>  
          <!-- </div> -->
        </div> 
      </div> 
  
    <app-footer></app-footer>
  </div>
