/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.jumbotron {
  background-color: rgb(250, 250, 250);
  padding: 5em inherit;
  padding-top: 0;
  border-left: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 900px;
}

.innerContent {
  //background-color: rgb(250, 250, 250);
  padding: 1em;
  border-radius: 5px;
  min-height: 100%;
  width: 100%;
}
.nav-li {
  margin-left: 1em;
  padding-right: 50px;
}
.navbar-label {
  font-size: 30px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
}
.login-form {
  margin-left: 25%;
  margin-top: 10%;
}

.img {
  max-height: 40px;
  width: 40px;
}

.search-form {
  width: 100%;
  padding-right: 20px;
}

.expansion-panel .mat-expansion-panel-header {
  padding: 10px;
  height: 50px;
}

.expansion-panel-field {
  width: 70%;
  margin-left: 2%;
}

.expansion-panel-field .mat-input-element:disabled {
  width: 70%;
  margin-left: 2%;
  color: black;
}

.card-actions {
  margin-bottom: 0;
  margin-left: 20px;
}

.card-actions-done {
  margin-bottom: 0;
  margin-left: 20px;
  background-color: rgb(250, 250, 250);
}

.card-picture {
  padding-left: 20px;
  padding-right: 20px;
}

.card-picture-done {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(240, 240, 240);
}

.tab-container {
  margin: 6em;
  margin-top: 3em;
}

.example-tab-icon {
  margin-right: 8px;
}

.green-icon {
  color: #673ab7;
  margin-right: 3px;
}

.red-icon {
  color: #673ab7;
  margin-right: 3px;
}

.button-action:hover .red-icon,
.button-action:hover .delete-icon {
  color: red;
}

.button-action:hover .green-icon {
  color: rgb(2, 194, 2);
}

.mat-tab-label:hover .example-tab-icon {
  color: #673ab7;
}

.mat-tab-label:active .example-tab-icon {
  color: #673ab7;
}

.mat-form-field-add-task {
  width: 100%;
}

.mat-tab-label:active .example-tab-icon {
  color: #673ab7;
}

.addOrderAtHome {
  color: white;
  background-color: #b494ea;
}

.mat-card-title {
  font-size: 30px;
  font-weight: 100;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}

.input-form {
  width: 85%;
}

#logo {
  text-align: center;
  margin: 0 auto;
}

#logobox {
  height: 80px;
  margin: -10px 10px 0;
}

#leaflogo {
  height: 150px;
  margin-top: -35px;
}

.nav-custom {
  padding: 0px;
  height: 40px;
}

.card-padding {
  padding-left: 15%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-color: #000;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.profile-form {
  margin-left: 15%;
  margin-top: 5%;
}

.profile-table {
  width: max-content;
  border-collapse: separate;
  border-spacing: 25px 10px;
}

.doneOrder {
  color: yellow;
}

.notDoneOrder {
  background-color: red;
}
