
<div class="col-md-6 col-md-push-3 login-form">
    <div class="card card-outline-secondary">
        <div class="card-body card-padding">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <div *ngIf="isRegistred=='true'" class="w-100">
                <label class="alert alert-success col-sm-12">Registration
                    succeeded</label>
            </div>
            <div class="panel panel-primary">
                <h2>Login</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <mat-form-field class="input-form">
                            <input matInput placeholder="Username"
                                formControlName="username">
                            <mat-error
                                *ngIf="f.username.hasError('required')">
                                Username is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="input-form">
                            <input matInput type="password"
                                placeholder="Password"
                                formControlName="password">
                            <mat-error
                                *ngIf="f.password.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn
                            btn-primary">
                            <span *ngIf="loading" class="spinner-border
                                spinner-border-sm mr-1"></span>
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>