<div class="form-group">
    <mat-form-field class="search-form">
        <input
            matInput
            placeholder="Filtruj zlecenia"
            (keyup)="filterOrders($event.target.value)">
    </mat-form-field>

    <div class="">
        <label>Wybierz rodzaj nieobecności</label>
        <div class="form-group">
            <ng-container *ngFor="let type of orderTypes">
                <div class="form-check form-check-inline"
                    *ngIf="type.id==0">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio"
                            name="inlineRadioOptions"
                            value="{{type.value}}" [checked]="true"
                            (change)="onTypeChanged($event)">
                        {{type.title}}
                    </label>
                </div>
                <div class="form-check form-check-inline"
                    *ngIf="type.id!= 0">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio"
                            name="inlineRadioOptions"
                            value="{{type.value}}"
                            (change)="onTypeChanged($event)">
                        {{type.title}}
                    </label>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<br>


<div
    fxLayout="column"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="5%"
    fxLayoutAlign="space-between none">
    

    <mat-card
        class="card-picture"
        *ngFor="let order of visibleOrders">
        <mat-card-title
            fxLayout.gt-xs="row"
            fxLayout.xs="column">
            <span fxFlex="80%">{{order.order_name}}</span>           
                          
        </mat-card-title>

        
        <mat-accordion multi="true">
            <mat-form-field style="margin-right:40px;">
                        <input matInput type="text" 
                        placeholder="Nazwa zlecenia..."
                        class="mat-form-field-autofill
                        mat-input-element ng-tns-c98-74
                        cdk-text-field-autofill-monitored"
                        title="First and last name"
                        required="required" value="{{order.order_name}}"
                        disabled="{{!order.edit}}">
            </mat-form-field>
        
            <mat-form-field style="margin-right:40px;">       
                <input matInput 
                                [matDatepicker]="dateFrom"
                                placeholder="Nieobecność od..."
                                class="mat-form-field-autofill
                                mat-input-element ng-tns-c98-74
                                cdk-text-field-autofill-monitored"
                                value="{{order.date_start}}"
                                disabled="{{!order.edit}}">
                <mat-datepicker-toggle matSuffix
                                [for]="dateFrom"></mat-datepicker-toggle>
                <mat-datepicker #dateFrom class="ng-tns-c98-74"></mat-datepicker>    
            </mat-form-field>  

            <mat-form-field>
                <input matInput 
                            [matDatepicker]="dateTo"
                            placeholder="Nieobecność do..."
                            class="mat-form-field-autofill
                            mat-input-element ng-tns-c98-74
                            cdk-text-field-autofill-monitored"
                            value="{{order.date_until}}"
                            disabled="{{!order.edit}}">
                <mat-datepicker-toggle matSuffix
                            [for]="dateTo" disabled="{{!order.edit}}"></mat-datepicker-toggle>
                <mat-datepicker #dateTo class="ng-tns-c98-74" disabled="{{!order.edit}}"></mat-datepicker>   
            </mat-form-field>  
            <br>
            <mat-radio-group matInput value="{{order.order_type}}" disabled="{{!order.edit}}" >      
                    <mat-radio-button value="Wyjazd służbowy" class="w-25 p-3" *ngIf="order.order_type == 'Wyjazd służbowy'" checked> Wyjazd służbowy</mat-radio-button>
                    <mat-radio-button value="Wyjazd służbowy" class="w-25 p-3" *ngIf="order.order_type != 'Wyjazd służbowy'" > Wyjazd służbowy</mat-radio-button>
                    <mat-radio-button value="L4" class="w-25 p-3" *ngIf="order.order_type == 'L4'" checked> L4</mat-radio-button>
                    <mat-radio-button value="L4" class="w-25 p-3" *ngIf="order.order_type != 'L4'" > L4</mat-radio-button>                     
                    <mat-radio-button value="Wakacje" class="w-25 p-3" *ngIf="order.order_type == 'Wakacje'" checked >Wakacje</mat-radio-button>
                    <mat-radio-button value="Wakacje" class="w-25 p-3" *ngIf="order.order_type != 'Wakacje'" >Wakacje</mat-radio-button>  
                    <mat-radio-button value="Inne" class="w-25 p-3" *ngIf="order.order_type == 'Inne'" checked >Inne</mat-radio-button>
                    <mat-radio-button value="Inne" class="w-25 p-3" *ngIf="order.order_type != 'Inne'" >Inne</mat-radio-button> 
            </mat-radio-group>
            <mat-form-field>
                <textarea placeholder="Komentarz" matInput rows="1"class="mat-form-field-autofill
                mat-input-element ng-tns-c98-74
                cdk-text-field-autofill-monitored" value='{{order.description}}'  disabled="{{!order.edit}}"> </textarea>
                <mat-error *ngIf="submitted">
                        Uzupełnij opis
                </mat-error> 
            </mat-form-field>

            <mat-card-actions class="card-actions">

                <ng-container *ngFor="let task of order.tasks">

                    <mat-expansion-panel>

                    <mat-expansion-panel-header
                        class="right-aligned-header"
                        collapsedHeight="55px">
                        <mat-panel-title>
                            <mat-icon class="example-tab-icon">{{task.icon}}</mat-icon>
                            {{task.title}}
                        </mat-panel-title>    
                                
                        </mat-expansion-panel-header>   
                                        
                            <button
                            mat-button
                            fxFlex="5%"
                            class="button-action"
                            type="submit"
                            (click)="saveTask(task)"
                            *ngIf="task.edit">
                            <mat-icon class="edit-icon">save</mat-icon>
                            </button>
                            <button
                                mat-button
                                fxFlex="5%"
                                class="button-action"
                                (click)="editTask(task)"
                                *ngIf="!task.edit">
                                <mat-icon class="edit-icon">mode_edit</mat-icon>
                            </button>
                            <button
                                mat-button
                                fxFlex="5%"
                                class="button-action"
                                (click)="deleteTask(task,order)"                                    >
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </button>    
                            <p>    
                            <mat-form-field class="mat-form-field-infix">
                                <input matInput type="text" 
                                placeholder="Nazwa zadania..."
                                class="mat-form-field-autofill
                                mat-input-element ng-tns-c98-74
                                cdk-text-field-autofill-monitored"                               
                                value="{{task.title}}"
                                disabled="true">
                            </mat-form-field>
                            <br>
                        
                            <mat-radio-group matInput placeholder="Rodzaj zadania:" value="{{order.order_type}}" disabled="{{!task.edit}}" class="md-block">
                                <mat-radio-button value="Fauna" class="w-20 p-2" *ngIf="task.type_task == 'Fauna'" checked>Fauna</mat-radio-button>
                                <mat-radio-button value="Fauna"  class="w-20 p-2" *ngIf="task.type_task != 'Fauna'">Fauna</mat-radio-button>
                                <mat-radio-button value="Flora"  class="w-20 p-2" *ngIf="task.type_task == 'Flora'" checked>Flora</mat-radio-button>
                                <mat-radio-button value="Flora"  class="w-20 p-2" *ngIf="task.type_task != 'Flora'">Flora</mat-radio-button>
                                <mat-radio-button value="Sprzatanie"  class="w-20 p-2" *ngIf="task.type_task == 'Sprzątanie'" checked>Sprzatanie</mat-radio-button>
                                <mat-radio-button value="Sprzatanie"  class="w-20 p-2" *ngIf="task.type_task != 'Sprzątanie'">Sprzatanie</mat-radio-button>
                                <mat-radio-button value="Zakupy"  class="w-20 p-2" *ngIf="task.type_task == 'Zakupy'" checked >Zakupy</mat-radio-button>
                                <mat-radio-button value="Zakupy"   class="w-20 p-2" *ngIf="task.type_task != 'Zakupy'">Zakupy</mat-radio-button>
                                <mat-radio-button value="Inne"  class="w-20 p-2" *ngIf="task.type_task == 'Inne'" checked>Inne</mat-radio-button>                                
                                <mat-radio-button value="Inne"  class="w-20 p-2" *ngIf="task.type_task != 'Inne'">Inne</mat-radio-button>
                            </mat-radio-group>
                            <br>
                             <mat-form-field>
                                <input matInput
                                            [matDatepicker]="date"
                                            placeholder="Data wykonania"
                                            class="mat-form-field-autofill
                                            mat-input-element ng-tns-c98-74
                                            cdk-text-field-autofill-monitored"
                                            value="{{task.date}}"
                                            disabled="{{!task.edit}}">
                                        <mat-datepicker-toggle matSuffix
                                            [for]="date" disabled="{{!task.edit}}"></mat-datepicker-toggle>
                                        <mat-datepicker #date class="ng-tns-c98-74" disabled="{{!task.edit}}"></mat-datepicker>   
                            </mat-form-field> 
                            <mat-form-field style="margin-left:20px;">
                                <textarea placeholder="Opis zadania" matInput rows="1" class="mat-form-field-autofill
                                mat-input-element 
                                cdk-text-field-autofill-monitored" value='{{task.description}}'  disabled="{{!task.edit}}"> </textarea>
                                <mat-error *ngIf="submitted">
                                        Uzupełnij opis
                                </mat-error>    

                            </mat-form-field>
                            </p>     
                            <br>                              
                    
                    </mat-expansion-panel>
                </ng-container>
            </mat-card-actions>
            <mat-card-actions class="card-actions">
                <button
                    mat-button
                    class="button-action"
                    (click)="hideOrder(order)">
                    <mat-icon class="red-icon">close</mat-icon>
                    Odrzuć
                </button>
                <button
                    mat-button
                    class="button-action"
                    (click)="takeOrder(order)">
                    <mat-icon class="green-icon">check</mat-icon>
                    Weź
                </button>
                <button mat-button (click)="sendUserIdToProfileComponent(order.creator)">
                    <mat-form-field style="margin-right:20px;">
                        <textarea placeholder="Wystawił\a" matInput rows="1" class="mat-form-field-autofill
                        mat-input-element 
                        cdk-text-field-autofill-monitored"  [(ngModel)]='order.creator_name'  > </textarea>          
                    </mat-form-field>
                    Link do profilu
                </button>
            </mat-card-actions>
            
    
            
        </mat-accordion>
    </mat-card>

</div>

